<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".App"
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".ui.AboutActivity" android:exported="false" />
        <activity android:name=".ui.AddEditActivity" android:exported="false" />
        <activity android:name=".ui.DetailsActivity" android:exported="false" />
        <activity android:name=".ui.ListActivity" android:exported="false" />

        <activity android:name=".ui.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
